@model AlbumModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Album Details";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Message"] is not null)
{
    <p class="bg-info text-black">@TempData["Message"]</p>
}

<div>
    <h4>Album</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.PublishedYearOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.PublishedYearOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.IsAvailableOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.IsAvailableOutput)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.PriceOutput)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.PriceOutput)
            </dd>
        </dl>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.MusicNameOutput)
        </dt>
        <dd class="col-10">
            @Html.Raw(Model.MusicNameOutput)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



